*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-user-select:none;
    user-select:none;
    font-family: 'Courier New', Courier, monospace;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.inputForm{
    border: solid black 1px;
    width: 400px;
    height: 470px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.textInputWrapper{
    width: 100%;
    height: 200px;
}

.inputContent{
    width: 100%;
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inputTextArea{
    width: 100%;
    height: 168px;
    padding: 5px;
}

.textInputTypeSelectionWrapper{
    width: 100%;
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hidden{
    display: none;
}

.inputTextArea{
    width: 250px;
    height: 160px;
    resize: none;
    outline: none;
}

.radioWrapper{
    width: 100%;
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.keyInput{
    outline: none;
    width: 250px;
    padding: 5px;
}

.executeButton{
    padding: 15px;
    margin-top: 30px;
}





.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#sliderContainer{
    padding-right: 70px;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle-switch input:checked+.slider {
    background-color: #4caf50;
}

.toggle-switch input:checked+.slider::before {
    transform: translateX(26px);
}

.outPutContainer{
    border: solid red 1px;
    width: 450px;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    -webkit-user-select:all;
    user-select:all;
}
